<div class="login-container">
  <div class="white-container">
    <div class="login-header">EDUCATE</div>
    <hr class="login-horizontal-line" />
    <div class="login-content">
      <div class="login-username">
        <div class="label">Username</div>
        <input type="email" class="input" />
      </div>
      <div class="login-password">
        <div class="label">Password</div>
        <input type="password" class="input" />
      </div>
      <div class="login-as">
        <div class="label">Login as:</div>
        <div class="options">
          <label for="teacher">
            <input type="radio" name="role" id="teacher" value="Teacher" />
            Teacher
          </label>
          <label for="student">
            <input type="radio" name="role" id="student" value="Student" />
            Student
          </label>
        </div>
      </div>
      <div class="login-forgot-text">Forgot password?</div>
    </div>
    <div class="login-button">Login</div>
  </div>
</div>
