.contact-details-container {
  .contact-details-header {
    .contact-details-icon {
      //     align-items: center;
      padding-top: 12px;
      padding-bottom: 11px;
      padding-left: 17px;
    }
  }
  .contact-details-body {
    .detail-row {
      display: flex;
      margin-bottom: 18px;
      margin-left: 32px;

      color: #000;
      font-family: "Karla";
      font-size: 24px;
      font-weight: 500;

      .label {
        flex: 1;
      }
      .conatct {
        flex: 1;
      }
      .email {
        flex: 1;
      }
    }

    .detail-row:last-child {
      margin-bottom: 0;
    }
  }
}
