<div class="contact-details-container" appCardStyle>
  <div class="contact-details-header" appCardHeaderStyle>Contact Details</div>
  <div class="contact-details-body" appCardBodyStyle>
    <div class="detail-row">
      <div class="label">Technical Support Contact:</div>
      <div class="conatct">987654321</div>
      <div class="email">nit.raj@g.com</div>
    </div>
    <div class="detail-row">
      <div class="label">Customer Support Contact:</div>
      <div class="conatct">123456789</div>
      <div class="email">nit.raj@g.com</div>
    </div>
  </div>
</div>
