.resources-container {
  .resources-header {
  }

  .resources-body {
    .not-availble {
      color: #000;
      font-family: "Karla";
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
