<div class="resources-container" appCardStyle>
  <div class="resources-header" appCardHeaderStyle>
    <div>Resources</div>
    <div *ngIf="displayComponent$ | async" class="header-actions">
      <div class="action-button" (click)="openModal('add-resource-modal')">
        <img
          title="Add Resource"
          src="assets/icons/Plus.svg"
          alt="Add Resource"
        />
      </div>
      <div
        *ngIf="selectedResourceId$ | async"
        class="action-button"
        (click)="openModal('remove-resource-modal')"
      >
        <img
          title="Remove Resource"
          src="assets/icons/Minus.svg"
          alt="Remove Resource"
        />
      </div>
    </div>
  </div>
  <div class="resources-body" appCardBodyStyle="23px 0px">
    <div *ngIf="!(errorMessage$ | async); else errorBox">
      <div *ngIf="!(displayComponent$ | async); else Loading">
        <div class="no-class-selected">Please select your class.</div>
      </div>

      <ng-template #Loading>
        <div
          *ngIf="isLoading$ | async as isLoading; else resourcesComponent"
          [class.loading-box]="isLoading"
        >
          <app-loading-spinner></app-loading-spinner>
        </div>
      </ng-template>

      <ng-template #resourcesComponent>
        <div
          class="resources-content"
          *ngIf="(resources$ | async)?.length; else noResourcesBox"
        >
          <div class="resources" *ngFor="let resource of resources$ | async">
            <div
              class="resource no-select"
              [class.selected-resource]="resource.resourceID === tempResourceId"
              target="_blank"
              (dblclick)="openInNewTab(resource.resourceUrl)"
              (click)="selectResource($event, resource.resourceID)"
            >
              <div class="resource-name">{{ resource.resourceName }}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #noResourcesBox>
      <div class="no-resources">No resources added.</div>
    </ng-template>
    <ng-template #errorBox>
      <p class="errorBox" *ngIf="errorMessage$ | async as errorMessage">
        <img src="assets/icons/ErrorCross.svg" alt="error" />
        {{ errorMessage }}
      </p>
    </ng-template>
  </div>
</div>

<app-popup-modal id="add-resource-modal">
  <div headerContent>Add Resource</div>
  <div content>
    <form
      #form="ngForm"
      [formGroup]="resourceForm"
      class="add-resource-container"
    >
      <div class="add-resource">
        <div class="title">Name:</div>
        <input
          type="text"
          placeholder="Enter Resource Name..."
          formControlName="addResourceName"
          required
        />
      </div>
      <br />
      <div class="add-resource">
        <div class="title">URL:</div>
        <input
          type="text"
          placeholder="Enter Resource Link..."
          formControlName="addResourceURL"
          required
        />
      </div>
      <br />
      <div *ngIf="popupErrorMessage !== null" class="errorBox">
        <img src="assets/icons/AlertSign.svg" alt="error" />
        {{ popupErrorMessage }}
      </div>
    </form>
  </div>
  <div footerContent>
    <app-common-button
      [text]="'Cancel'"
      [variant]="'outlined'"
      [disabled]="false"
      (BtnClickEmitter)="handleOnClickEvent($event, 'add-resource-modal')"
    ></app-common-button>

    <app-common-button
      [text]="'Add'"
      [variant]="'filled'"
      [disabled]="form.invalid || popupErrorMessage !== null"
      [bgColor]="'#268aff'"
      (BtnClickEmitter)="handleOnClickEvent($event, 'add-resource-modal')"
    ></app-common-button>
  </div>
</app-popup-modal>

<app-popup-modal id="remove-resource-modal">
  <div headerContent>Remove Resource</div>
  <div content>
    <div class="remove-resource-container">
      Are you sure you want to remove the resource?
      <div *ngIf="popupErrorMessage !== null" class="errorBox">
        <img src="assets/icons/AlertSign.svg" alt="error" />
        {{ popupErrorMessage }}
      </div>
    </div>
  </div>
  <div footerContent>
    <app-common-button
      [text]="'Cancel'"
      [variant]="'outlined'"
      [disabled]="false"
      (BtnClickEmitter)="handleOnClickEvent($event, 'remove-resource-modal')"
    ></app-common-button>

    <app-common-button
      [variant]="'filled'"
      [disabled]="false"
      [text]="'Remove'"
      [bgColor]="'#268aff'"
      (BtnClickEmitter)="handleOnClickEvent($event, 'remove-resource-modal')"
    ></app-common-button>
  </div>
</app-popup-modal>
