.resources-container {
  .resources-header {
    .header-actions {
      display: flex;
      justify-content: space-between;
      .action-button {
        margin: 5px;
        display: flex;
        align-items: baseline;
        border-radius: 5px;
      }
      .action-button:hover {
        cursor: pointer;
        background: #268aff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .resources-body {
    font-family: "Karla";
    font-size: 24px;
    .resources-content {
      display: flex;
      padding-left: 25px;
      flex-wrap: wrap;
      justify-content: flex-start;

      .resource {
        margin: 10px;
        padding: 10px;

        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transition: all 0.1s ease-in-out;

        .resource-name {
          color: black;
          text-decoration: none;
        }
      }

      .resource:hover {
        cursor: pointer;
        background: #268aff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        .resource-name {
          color: #fff;
        }
      }
    }

    .not-availble {
      text-align: center;
    }
  }
}

// Initially hidden
app-popup-modal {
  display: none;

  .add-resource-container {
    margin: 20px 20px;
    font-family: "Karla";
    font-size: 26px;

    .add-resource {
      display: flex;
      align-items: center;

      .title {
        width: 15%;
      }

      input {
        width: 100%;
        height: 30px;
        color: #212121;
        border: 1px solid #555;
        border-radius: 5px;
        padding: 10px;
        font-family: "Karla";
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  .remove-resource-container {
    margin: 20px 20px;
    font-family: "Karla";
    font-size: 24px;
  }
}
