.announcements-container {
  .announcements-body {
    .not-availble {
      color: #000;
      font-family: "Karla";
      font-size: 24px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
