.assignments-overview-container {
  .assignments-overview-body {
    .loading-box {
      min-height: 284px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .errorBox {
      padding: 0 33px;
      font-family: "Karla";
      font-size: 24px;
      font-weight: 500;
      color: #ff004c;
      display: flex;
      justify-content: center;
      img {
        margin-right: 10px;
      }
    }

    .contant {
      display: flex;
      flex-direction: column;
      height: 255px;
      padding-left: 33px;
      .contant-row {
        color: #000;
        font-family: "Karla";
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 12px;
        word-break: keep-all;
      }
    }
  }
}
