<div class="assignments-overview-container" appCardStyle>
  <div class="assignments-overview-header" appCardHeaderStyle>
    Assignments Overview
  </div>
  <div class="assignments-overview-body" appCardBodyStyle>
    <div *ngIf="isLoading" [class.loading-box]="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div *ngIf="assignmentCount$ | async as assignmentCount; else errorBox">
      <div class="contant">
        <div class="contant-row">
          Active Assignments: &nbsp;
          <b>{{ assignmentCount.active_assignments }}</b>
        </div>
        <div class="contant-row">
          Incoming Assignments: &nbsp;
          <b>{{
            assignmentCount.total_assignments -
              assignmentCount.active_assignments
          }}</b>
        </div>
        <div class="contant-row">
          Average Performance: &nbsp; <b>{{ performance }}</b>
        </div>
      </div>
    </div>

    <ng-template #errorBox>
      <p class="errorBox" *ngIf="errorMessage">
        <img src="assets/icons/ErrorCross.svg" alt="error" />
        {{ errorMessage }}
      </p>
    </ng-template>
  </div>
</div>
