.educate-teacher-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header-container {
    z-index: 1;
  }

  .body-container {
    display: flex;
    flex: 1;

    .body-content-container {
      flex: 1;
    }
  }
}
