<div class="class-roster-container" appCardStyle="36px">
  <div class="class-roster-header" appCardHeaderStyle>Class Roster</div>
  <div class="class-roster-body" appCardBodyStyle>
    <div *ngIf="!(errorMessage$ | async); else errorBox">
      <div *ngIf="!(displayComponent$ | async); else classRosterComponent">
        <div class="no-class-selected">Please select your class.</div>
      </div>
      <ng-template #classRosterComponent>
        <div class="student-details">
          <div
            class="custom-table"
            *ngFor="let item of studentDetails; let id = index"
          >
            <div class="column">
              <div class="row column-header" *ngIf="id === 0">ID</div>
              <div class="row">{{ item.id }}</div>
            </div>
            <div class="column">
              <div class="row column-header" *ngIf="id === 0">Name</div>
              <div class="row">{{ item.name }}</div>
            </div>
            <div class="column">
              <div class="row column-header" *ngIf="id === 0">Email</div>
              <div class="row">{{ item.email }}</div>
            </div>
            <div class="column">
              <div
                class="row column-header"
                style="border-right: 0px"
                *ngIf="id === 0"
              >
                Contact
              </div>
              <div class="row" style="border-right: 0px">
                {{ item.contact }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #errorBox>
      <p class="errorBox" *ngIf="errorMessage$ | async as errorMessage">
        <img src="assets/icons/ErrorCross.svg" alt="error" />
        {{ errorMessage }}
      </p>
    </ng-template>
  </div>
</div>
