$table_border: 1px solid #000;

.class-roster-container {
  .class-roster-header {
  }

  .class-roster-body {
    .no-class-selected {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-family: "Karla";
      font-size: 24px;
      font-weight: 500;
      color: #555;
    }

    .errorBox {
      padding: 0 32px;
      font-family: "Karla";
      font-weight: 500;
      font-size: 24px;
      color: #ff004c;
      display: flex;
      justify-content: center;
      img {
        margin-right: 10px;
      }
    }

    .student-details {
      margin: 0 33px;
      .custom-table {
        font-family: "Karla";
        font-size: 26px;
        display: flex;

        .column {
          flex: 1;

          .column-header {
            font-weight: 700;
            border-right: $table_border;
            border-bottom: $table_border;
          }

          .row {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            word-break: break-all;
            border-right: $table_border;
          }
        }
      }
    }
  }
}
