.faq-container {
  .faq-body {
    .question-list {
      margin: 0 0 16px 40px;

      color: #000;
      font-family: "Karla";
      font-size: 24px;
      font-weight: 500;
    }
    .question-list:last-child {
      margin-bottom: 0;
    }
  }
}
