<div class="page-not-found-container">
  <div class="page-not-found-image">
    <div class="img-container">
      <img src="assets/icons/SadFace.svg" alt="404-sad-face[:(]" />
    </div>
  </div>
  <div class="page-not-found">
    <div class="page-not-found-text">
      <h1 class="title">404</h1>
      <h2 class="midium-text">Page not found</h2>
      <div class="divider"></div>
      <p class="small-text">
        Sorry, the page you're looking for doesn't exist.
      </p>
      <button routerLink="/" class="btn">Go to Home Page</button>
    </div>
  </div>
</div>
