<div class="class-list-container" appCardStyle="36px 0 0 36px">
  <div class="class-list-header" appCardHeaderStyle>
    <div>My Classes</div>
    <div class="header-actions">
      <div class="action-button" (click)="openModal('add-class-modal')">
        <img title="Add Class" src="assets/icons/Plus.svg" alt="Add Class" />
      </div>
      <div class="action-button" (click)="openModal('remove-class-modal')">
        <img
          title="Remove Class"
          src="assets/icons/Minus.svg"
          alt="Remove Class"
        />
      </div>
    </div>
  </div>
  <div class="class-list-body" appCardBodyStyle>
    <div *ngIf="!(errorMessage$ | async); else errorBox">
      <div
        *ngIf="isLoading$ | async as isLoading; else classList"
        [class.loading-box]="isLoading"
      >
        <app-loading-spinner></app-loading-spinner>
      </div>
      <ng-template #classList>
        <div *ngIf="classList$ | async as classList; else errorBox">
          <ul class="list">
            <li class="list-item" *ngFor="let class of classList">
              <div
                class="list-box"
                [class.selected-list-box]="
                  class.classID === (selectedClassId$ | async)
                "
                (click)="onListBoxClick(class.classID)"
              >
                <div class="list-text">{{ class.className }}</div>
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
    </div>
    <ng-template #errorBox>
      <p class="errorBox" *ngIf="errorMessage$ | async as errorMessage">
        <img src="assets/icons/ErrorCross.svg" alt="error" />
        {{ errorMessage }}
      </p>
    </ng-template>
  </div>
</div>

<app-popup-modal id="add-class-modal">
  <div headerContent>Add Class</div>
  <div content></div>
  <div footerContent>
    <app-common-button
      [text]="'Cancel'"
      [variant]="'outlined'"
      [disabled]="false"
      (BtnClickEmitter)="handleOnClickEvent($event, 'add-class-modal')"
    ></app-common-button>

    <app-common-button
      [variant]="'filled'"
      [disabled]="false"
      [text]="'Submit'"
      [bgColor]="'#268aff'"
      (BtnClickEmitter)="handleOnClickEvent($event, 'add-class-modal')"
    ></app-common-button>
  </div>
</app-popup-modal>

<app-popup-modal id="remove-class-modal">
  <div headerContent>Remove Class</div>
  <div content>
    <div class="remove-class-container">
      Are you sure you want to remove the class?
    </div>
  </div>
  <div footerContent>
    <app-common-button
      [text]="'Cancel'"
      [variant]="'outlined'"
      [disabled]="false"
      (BtnClickEmitter)="handleOnClickEvent($event, 'remove-class-modal')"
    ></app-common-button>

    <app-common-button
      [variant]="'filled'"
      [disabled]="false"
      [text]="'Remove'"
      [bgColor]="'#268aff'"
      (BtnClickEmitter)="handleOnClickEvent($event, 'remove-class-modal')"
    ></app-common-button>
  </div>
</app-popup-modal>
