.class-list-container {
  .class-list-header {
    .header-actions {
      display: flex;
      justify-content: space-between;
      .action-button {
        margin: 5px;
        display: flex;
        align-items: baseline;
        border-radius: 5px;
      }
      .action-button:hover {
        cursor: pointer;
        background: #268aff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .class-list-body {
    .list {
      height: 276px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      list-style-type: none; /* Remove default bullet points */
      padding-top: 8px;

      .list-item {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;

        .list-box {
          width: 308px;
          height: 70px;
          background: #fff;
          border: 1px solid transparent;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          .list-text {
            color: #000;
            font-family: "Karla";
            font-size: 32px;
            font-weight: 500;
            text-align: center;
          }
        }

        .list-box:hover {
          border: 1px solid rgba(38, 138, 255, 0.7);
          box-shadow: 0 0 4px 0px rgb(38, 138, 255);
        }

        .selected-list-box {
          background-color: #268aff;
          box-shadow: 0 0 4px 0px rgb(38, 138, 255);

          .list-text {
            color: #fff;
          }
        }
      }
    }

    .loading-box {
      min-height: 284px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .errorBox {
      padding: 0 33px;
      font-family: "Karla";
      font-size: 24px;
      font-weight: 500;
      color: #ff004c;
      display: flex;
      justify-content: center;
      img {
        margin-right: 10px;
      }
    }
  }
}

// Initially hidden
app-popup-modal {
  display: none;

  .remove-class-container {
    margin: 20px 10px;
    font-family: "Karla";
    font-size: 24px;
  }
}
