<div class="class-details-container" appCardStyle>
  <div class="class-details-header" appCardHeaderStyle>
    <div>Class Details</div>
    <div class="header-actions">
      <div class="edit-button" (click)="openModal('edit-class-modal')">
        <img title="Edit Class" src="assets/icons/Edit.svg" alt="Edit Class" />
      </div>
    </div>
  </div>
  <div class="class-details-body" appCardBodyStyle>
    <div *ngIf="isLoading" [class.loading-box]="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div *ngIf="classDetails$ | async as classDetails; else errorBox">
      <div class="detail-row class-name">
        <div class="label">Class Name:</div>
        <div class="value">{{ classDetails.className }}</div>
      </div>
      <div class="detail-row">
        <div class="label">Class Description:</div>
        <div class="value class-description">
          {{ classDetails.classDescription }}
        </div>
      </div>
    </div>

    <ng-template #errorBox>
      <p class="errorBox" *ngIf="errorMessage">
        <img src="assets/icons/ErrorCross.svg" alt="error" />
        {{ errorMessage }}
      </p>
    </ng-template>
  </div>
</div>

<app-popup-modal id="edit-class-modal">
  <div headerContent>Edit Class</div>
  <div content>
    <div class="edit-class-container">
      <div class="edit-class-name">
        <div class="edit-label">Edit Class:</div>
        <input type="text" [(ngModel)]="editclassName" />
      </div>
      <div class="edit-class-description">
        <div class="edit-label">Edit Description:</div>
        <textarea type="text" [(ngModel)]="editclassDescription"></textarea>
      </div>
    </div>
  </div>
  <div footerContent>
    <app-common-button
      [text]="'Cancel'"
      [variant]="'outlined'"
      [disabled]="false"
      (BtnClickEmitter)="handleOnClickEvent($event, 'edit-class-modal')"
    ></app-common-button>

    <app-common-button
      [variant]="'filled'"
      [disabled]="false"
      [text]="'Update'"
      [bgColor]="'#268aff'"
      (BtnClickEmitter)="handleOnClickEvent($event, 'edit-class-modal')"
    ></app-common-button>
  </div>
</app-popup-modal>
