<div class="class-details-container" appCardStyle>
  <div class="class-details-header" appCardHeaderStyle>
    <div>Class Details</div>
    <div
      class="header-actions"
      *ngIf="!(errorMessage$ | async) && (displayComponent$ | async)"
    >
      <div class="edit-button" (click)="openModal('edit-class-modal')">
        <img title="Edit Class" src="assets/icons/Edit.svg" alt="Edit Class" />
      </div>
    </div>
  </div>
  <div class="class-details-body" appCardBodyStyle>
    <div *ngIf="!(errorMessage$ | async); else errorBox">
      <div *ngIf="!(displayComponent$ | async); else Loading">
        <div class="no-class-selected">Please select your class.</div>
      </div>
      <ng-template #Loading>
        <div
          *ngIf="isLoading$ | async as isLoading; else classDetailComponent"
          [class.loading-box]="isLoading"
        >
          <app-loading-spinner></app-loading-spinner>
        </div>
      </ng-template>
      <ng-template #classDetailComponent>
        <div *ngIf="classDetails$ | async as classDetails; else errorBox">
          <div class="detail-row class-name">
            <div class="label">Class Name:</div>
            <div class="value">{{ classDetails.className }}</div>
          </div>
          <div class="detail-row">
            <div class="label">Class Description:</div>
            <div class="value class-description">
              {{ classDetails.classDescription }}
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #errorBox>
      <p class="errorBox" *ngIf="errorMessage$ | async as errorMessage">
        <img src="assets/icons/ErrorCross.svg" alt="error" />
        {{ errorMessage }}
      </p>
    </ng-template>
  </div>
</div>

<app-popup-modal id="edit-class-modal">
  <div headerContent>Edit Class</div>
  <div content>
    <form [formGroup]="classDetailsForm" class="edit-class-container">
      <div class="edit-class-name">
        <div class="edit-label">Edit Class:</div>
        <input type="text" formControlName="editedclassName" />
      </div>
      <div class="edit-class-description">
        <div class="edit-label">Edit Description:</div>
        <textarea
          type="text"
          formControlName="editedclassDescription"
        ></textarea>
      </div>
    </form>

    <ng-container
      *ngIf="
        errorMessagePopup !== null ||
        editedclassName.value === '' ||
        editedclassDescription.value === ''
      "
    >
      <div class="errorBox">
        <div class="errorMsg">
          <img src="assets/icons/AlertSign.svg" alt="Error: " />
          {{ errorMessagePopup || "Please fill all the fields" }}
        </div>
      </div>
    </ng-container>
  </div>
  <div footerContent class="buttons">
    <app-common-button
      [text]="'Cancel'"
      [variant]="'outlined'"
      [disabled]="false"
      (BtnClickEmitter)="handleOnClickEvent($event, 'edit-class-modal')"
    ></app-common-button>

    <app-common-button
      [variant]="'filled'"
      [disabled]="isEnableEditButton()"
      [text]="'Update'"
      [bgColor]="'#268aff'"
      (BtnClickEmitter)="handleOnClickEvent($event, 'edit-class-modal')"
    ></app-common-button>
  </div>
</app-popup-modal>
