.class-details-container {
  max-width: 492px;

  .class-details-header {
  }
  .class-details-body {
    display: flex;
    flex-direction: column;

    .class-name {
      display: flex;
      align-items: baseline;
      padding-top: 8px;
      .label {
        width: 176px;
      }
    }

    .detail-row {
      margin-bottom: 25px;

      .label {
        font-weight: bold;
        display: inline-block;
        padding-left: 32px;
        color: #000;
        font-family: "Karla";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .value {
        color: #000;
        font-family: "Karla";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        max-width: 431px; /* Set a maximum width for the value text */
        word-wrap: break-word;
      }

      .class-description {
        padding-left: 32px;
        padding-top: 20px;
        height: 175px;
      }
    }

    .detail-row:last-child {
      margin-bottom: 0; /* Remove bottom margin for the last row */
    }
  }
}
