<div class="class-details-container" appCardStyle>
  <div class="class-details-header" appCardHeaderStyle>
    <div>Class Details</div>
    <div class="header-actions">
      <div class="edit-button" (click)="openModal('edit-class-modal')">
        <img title="Edit Class" src="assets/icons/Edit.svg" alt="Edit Class" />
      </div>
    </div>
  </div>
  <div class="class-details-body" appCardBodyStyle>
    <div class="detail-row class-name">
      <div class="label">Class Name:</div>
      <div class="value">{{ className }}</div>
    </div>
    <div class="detail-row">
      <div class="label">Class Description:</div>
      <div class="value class-description">{{ classDescription }}</div>
    </div>
  </div>
</div>

<app-popup-modal id="edit-class-modal">
  <div headerContent>Edit Class</div>
  <div content>
    <div class="edit-class-container">
      <div class="edit-class-name">
        Edit Class:
        <input type="text" [(ngModel)]="EditclassName" />
        <br />
      </div>
      <div class="edit-class-description">
        Edit Description:
        <br />
        <textarea type="text" [(ngModel)]="EditclassDescription"></textarea>
      </div>
    </div>
  </div>
  <div footerContent>
    <app-common-button
      [text]="'Cancel'"
      [variant]="'outlined'"
      [disabled]="false"
      (BtnClickEmitter)="handleOnClickEvent($event, 'edit-class-modal')"
    ></app-common-button>

    <app-common-button
      [variant]="'filled'"
      [disabled]="false"
      [text]="'Submit'"
      [bgColor]="'#268aff'"
      (BtnClickEmitter)="handleOnClickEvent($event, 'edit-class-modal')"
    ></app-common-button>
  </div>
</app-popup-modal>
