.login-container {
  height: 100vh;
  width: auto;
  background-color: #268aff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.white-container {
  height: 512px;
  width: 512px;
  background-color: #ffffff;
  border-radius: 10px;
}
