<div class="login-container">
  <div class="white-container">
    <div class="login-header">EDUCATE</div>
    <hr class="login-horizontal-line" />
    <div class="login-content">
      <div class="login-username">
        <div class="label">Username</div>
        <input type="email" class="input" />
      </div>
      <div class="login-password">
        <div class="label">Password</div>
        <input type="password" class="input" />
      </div>
      <div class="login-forgot-text">Forgot password?</div>
    </div>
    <div class="login-button">Login</div>
  </div>
</div>
